<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="99f790">  <td>14/11/12 13:03:10</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_TopH_ch.setup()[pri:0, instance:intut.com_Text.TC002_TopH_ch@3cb5cdba]">setup</td> 
  <td>main@234698513</td>   <td></td> </tr>
<tr bgcolor="a49d8f">  <td>14/11/12 13:03:10</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.setupEn()[pri:0, instance:intut.com_Text.TC002_TopH_ch@3cb5cdba]">&gt;&gt;setupEn</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@234698513</td>   <td></td> </tr>
<tr bgcolor="a49d8f">  <td>14/11/12 13:03:20</td>   <td>10963</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.teardown()[pri:0, instance:intut.com_Text.TC002_TopH_ch@3cb5cdba]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@234698513</td>   <td></td> </tr>
</table>
